<div class="container-fluid p-0">
    <div class="row g-0">
        <div class="col p-0">
            <app-game-title [data]="sidebarData"></app-game-title>
        </div>
    </div>
    <div class="row g-0 flex-grow-1">
        <div class="col p-0 game-main-window">
            <app-game-output [gameText]="(gameText$ | async) || []"></app-game-output>
            <app-game-input 
                [availableCommands]="sidebarData?.commands?.split('\n') || []"
                (commandEntered)="onCommandEntered($event)">
            </app-game-input>
        </div>
        <div class="col-auto p-0 game-sidebar">
            <app-game-sidebar [data]="sidebarData"></app-game-sidebar>
        </div>
    </div>
</div>
