<div class="game-title">
    <h1 class="h4">Text Adventure</h1>
    <div class="game-title-info">
        <div class="game-title-info-panel">
            <span class="text-secondary">Score:</span>
            <span class="text-info">{{ data?.score?.toString() || '0' }}</span>
        </div>
        <div class="game-title-info-panel">
            <span class="text-secondary">Moves:</span>
            <span class="text-info">{{ data?.moves?.toString() || '0' }}</span>
        </div>
    </div>
</div>